<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Steaks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Steaks</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="steaks.length > 0">
    <ion-item *ngFor="let steak of steaks">
      <ion-label>{{ steak.name }}</ion-label>
      <ion-icon name="cart-outline" class="clickable-icon" color="primary" (click)="addSteak(steak)"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>