<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create Steaks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create Steaks</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Create steak"></app-explore-container>
  <!-- <form #newSteak="ngForm" (ngSubmit)="createSteak(newSteak)">
    <ion-item>
      <ion-label>Steak</ion-label>
      <ion-input type="text" [(ngModel)]="steak.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Cooking</ion-label>
      <ion-textarea [(ngModel)]="steak.cooking" name="cooking"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>Create Steak</button>
  </form> -->
</ion-content>