<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create Steaks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create Steaks</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="steakForm" (submit)="createSteak()">
    <ion-item>
      <ion-label>Steak</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Cooking</ion-label>
      <ion-input type="text" formControlName="cooking"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Price</ion-label>
      <ion-input type="text" formControlName="price"></ion-input>
    </ion-item>
    <button ion-button type="submit" [disabled]="!steakForm.valid">Add Steak</button>
  </form>
</ion-content>