<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cart</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="steaksInCart.length > 0">
    <ion-item *ngFor="let steak of steaksInCart; let i = index">
      <ion-label>
        <h2>{{ steak.name }}</h2>
        <p>{{ steak.cooking }}</p>
        <p>{{ steak.price }} $</p>
      </ion-label>
      <ion-icon name="trash-outline" class="clickable-icon" color="primary" (click)="removeSteak(steak, i)"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>